.modal {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;

    height: 100vh;
    background: rgba(8, 28, 36, 0.945);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container {
    width: 80%;
    height: max-content;
    max-width: 768px;
    z-index: 5;
    background: #081c24;
    /* padding-bottom: 0; */
    display: inline-block;
    position: absolute;
    top: 40px;
    bottom: 40px;
}

/* .movie-header {
    margin-top: 0;
    position: 'relative';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    background-position: '50% 50%';
    background-color: '#4e585c';
    height: 50%;
} */

.movie-main {
    background: #f8f8f8;
    /* height: 500px; */
    margin-top: 0;
}
.movie-main-container {
    position: relative;
    left: 250px;
    top: 30px;
    /* right: 300px; */
    width: 50%;
    display: flex;
    height: 450px;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.movie-header {
    display: flex;
    justify-content: space-between;
}
.image-container {
    margin: 30px;
    position: relative;
    top: 100px;
}
.title-modal {
    margin-top: 100px;
    flex: 6;
    color: #bc3b69;
}
.modal-overview {
    padding-right: 10px;
    padding-left: 10px;
}
.modal-gender {
    padding-right: 10px;
    padding-left: 10px;
}
.modal-date {
    padding-right: 10px;
    padding-left: 10px;
}
.exit-modal {
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: large;
    transition: ease, 0.5s;
    cursor: pointer;
}
.exit-modal:hover {
    background-color: #bc3b69;
    transition: ease, 0.5s;
}
h3 {
    color: #bc3b69;
}
p {
    font-size: 14px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
    color: #081c24;
    font-weight: 300;
}
@media (max-width: 768px) {
    .movie-main-container {
        left: 0;
        width: 100%;
    }
    .image-container {
        display: none;
    }
    .title-modal {
        text-align: center;
    }
    h2 {
        position: relative;
        left: 25px;
    }
}
